<!-- TODO add guard for incorrect URL /company/123 -->

<ng-container *ngIf="isSendingDescription && isSendingQuote">
  <ng-container *ngTemplateOutlet="loader"></ng-container>
</ng-container>

<ng-container *ngIf="!isSendingDescription && !isSendingQuote">
  <div class="gainer-item-wrapper">
    <h2 class="mb-3"> {{ gainerDescription.companyName }} ({{ gainerDescription.symbol }})</h2>
    <h2>{{ gainerSpecificQuote.latestPrice }}
      <span class="text-success">+{{ gainerSpecificQuote.priceChange }}(+{{ gainerSpecificQuote.changePercent }})</span>
    </h2>

    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <h3>Profile</h3>

            <p>{{ gainerDescription.description }}</p>

            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <ng-container *ngIf="(logoImageCompany | async); else loader">
                  <img src="{{ logoImageCompany | async }}" alt="logo Company">
                </ng-container>
              </div>

              <div class="col-12 col-md-6">
                <ul class="list-inline">
                  <li class="mb-1">
                    Sector
                    <span class="d-block font-weight-bold">{{ gainerDescription.sector }}</span>
                  </li>
                  <li class="mb-4">
                    Industry
                    <span class="d-block font-weight-bold">{{ gainerDescription.industry }}</span>
                  </li>
                  <li>
                    <a [href]="gainerDescription.website">{{ gainerDescription.website }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <ul class="list-inline">
                      <li class="mb-2">
                        <span class="text-muted">Volume</span>
                        <!-- TODO need formatted number into 23,480,687 -->
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.latestVolume }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">52 Week Range</span>
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.week52Low }} - {{ gainerSpecificQuote.week52High }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Open</span>
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.open }}</span>
                      </li>
                      <li>
                        <span class="text-muted">Previous Close</span>
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.previousClose }}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 col-md-6">
                    <ul class="list-inline">
                      <li class="mb-2">
                        <span class="text-muted">Avg Daily Volume</span>
                        <!-- TODO need formatted number into 23,480,687 -->
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.avgTotalVolume }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Market Cap</span>
                        <!-- TODO need formatted number into 817.585B (million or billion) -->
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.marketCap }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Source</span>
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.latestSource }}</span>
                      </li>
                      <li>
                        <span class="text-muted">last Update</span>
                        <!-- TODO need pipe for mapping formatted time. Use moment.js -->
                        <span class="d-block font-weight-bold">{{ gainerSpecificQuote.latestUpdate }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #templateDiv>
  <div class="col-12">
    Nothing to show ...
  </div>
</ng-template>

<ng-template #loader>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary text-center">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

