<ng-container *ngIf="isSendingDescription">
  <ng-container *ngTemplateOutlet="loader"></ng-container>
</ng-container>

<ng-container *ngIf="!isSendingDescription">
  <div class="gainer-item-wrapper">
    <h2 class="mb-3"> {{ gainerDescription.companyName }} ({{ gainerDescription.symbol }})</h2>
    <h2>{{ gainerDescription.latestPrice }}
      <span class="text-success">+{{ gainerDescription.priceChange }}(+{{ gainerDescription.changePercent }})</span>
    </h2>

    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <h3>Profile</h3>

            <p>{{ gainerDescription.description }}</p>

            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <img src="{{ gainerDescription.urlImage }}" alt="logo Company">
              </div>

              <div class="col-12 col-md-6">
                <ul class="list-inline">
                  <li class="mb-1">
                    Sector
                    <span class="d-block font-weight-bold">{{ gainerDescription.sector }}</span>
                  </li>
                  <li class="mb-4">
                    Industry
                    <span class="d-block font-weight-bold">{{ gainerDescription.industry }}</span>
                  </li>
                  <li>
                    <a [href]="gainerDescription.website">{{ gainerDescription.website }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <ul class="list-inline">
                      <li class="mb-2">
                        <span class="text-muted">Volume</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.latestVolume | thousandsSeparator }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">52 Week Range</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.week52Low }} - {{ gainerDescription.week52High }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Open</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.open }}</span>
                      </li>
                      <li>
                        <span class="text-muted">Previous Close</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.previousClose }}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 col-md-6">
                    <ul class="list-inline">
                      <li class="mb-2">
                        <span class="text-muted">Avg Daily Volume</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.avgTotalVolume | thousandsSeparator}}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Market Cap</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.marketCap | prettifyNumber }}</span>
                      </li>
                      <li class="mb-2">
                        <span class="text-muted">Source</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.latestSource }}</span>
                      </li>
                      <li>
                        <span class="text-muted">last Update</span>
                        <span class="d-block font-weight-bold">{{ gainerDescription.latestUpdate | date }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #templateDiv>
  <div class="col-12">
    Nothing to show ...
  </div>
</ng-template>

<ng-template #loader>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary text-center">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

